form{
    width: 800px;
    margin: auto;
}
fieldset{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 320px;
    gap: 10px;
}
input{
    margin: auto;
    width: 140px;
}
select{
    width: 140px;
}
textarea{
    height: 100px;
    width: 140px;
}