body{
    background-color: brown;

}
.search{
    position: relative;
width: 50px;
height: 50px;
border-radius:32px;
background-color: white;
transition: 1s;
}
img{
    position: absolute;
    top:0;
    left: 0;
    border-radius: 32px;
}
.search:focus{
    width: 250px;
    transition: ease 1s;
}