body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}


.container {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    height: 52px;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    align-items: center;


}

.logo1 {}

.menu {
    text-decoration: none;
    color: black;
}

.menu2 {
    text-decoration: none;
    color: #F58A07;

}

.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
    font-size: 16px;
    height: 24px;

}

.button {
    border-radius: 31px;
    background: rgba(245, 138, 7, 0.1);

    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;




}

header {
    max-width: 1280px;
    margin: auto;
    height: 650px;
    margin-top: 108px;
    display: flex;
    gap: 40px;
}

.headertext {
    width: 618px;
    height: 216px;
}

.headertext1 {
    font-size: 64px;
    margin-bottom: 24px;
}

.headertext2 {
    font-size: 18px;
    margin-bottom: 32px;
}

.headertext3 {
    border-radius: 27px;
    padding-right: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    background-color: #F58A07;
    color: white;
    text-decoration: none;

}

.headerimage {
    width: 616px;
    height: 650px;
    border-radius: 20px;
    background-image: url("../images/Image.png");
}

.backgroundmix {
    width: 180px;
    height: 650px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px 0px 0px 20px;
}

.feature {
    max-width: 1280px;
    height: 3262px;
    margin: auto;
    padding-top: 90px;
    position: relative;
}

.feature1 {
    display: flex;
    gap: 76px;
    position: relative;
}

.feature1image {
    width: 620px;
    height: 550px;

}

.feature1text {
    width: 584px;
    height: 294px;
    margin-top: 128px;
}

#feature1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 48px;

}

#feature2 {
    font-size: 20px;
    width: 583px;
    height: 90px;
    margin-top: 24px;
    margin-bottom: 24px;
}

#feature3 {
    padding-top: 24px;
}

.feature1orange {
    width: 95px;
    height: 97px;
    border-radius: 20px;
    mix-blend-mode: multiply;
    background-color: #F58A07;
    position: absolute;
    left: -48.5px;
    top: 240px;
}

.feature2 {
    width: 1328px;
    height: 550px;
    margin-top: 128px;
    display: flex;
    gap: 80px;
    position: relative;
}

.feature2text {
    width: 580px;
    height: 230px;
}

.feature2image {
    width: 620px;
    height: 550px;
    background-image: url(../images/feature2.png);

}

#feature4 {
    font-size: 48px;
    margin-top: 157px;
}

#feature5 {
    font-size: 18px;
}

.feature2orange {
    width: 95px;
    height: 97px;
    background-color: #F58A07;
    border-radius: 20px;
    mix-blend-mode: multiply;
    position: absolute;
    right: 0px;
    top: 240px;
}

.feature3 {
    width: 1328px;
    height: 550px;
    margin-top: 128px;
    display: flex;
    gap: 80px;
    position: relative;
}

.feature3image {
    width: 620px;
    height: 550px;
    background-image: url("../images/feature3.png");
}

.feature3text {
    margin-top: 128px;
    width: 584px;
    height: 294px;
}

#feature6 {
    font-size: 48px;
    margin-bottom: 24px;
}

#feature7 {
    font-size: 18px;
    margin-bottom: 24px;
}

.feature3orange {
    width: 95px;
    height: 97px;
    background-color: #F58A07;
    border-radius: 20px;
    mix-blend-mode: multiply;
    position: absolute;
    left: -48.5px;
    top: 240px;
}

.feature4 {
    width: 1328px;
    height: 550px;

    margin-top: 128px;
    display: flex;
    gap: 80px;
    position: relative;
}

.feature4text {
    width: 580px;
    height: 230px;
}

.feature4image {
    background-image: url("../images/feature4.png");
    border-radius: 20px;
    width: 620px;
    height: 550px;
}

#feature8 {
    margin-top: 160px;
    font-size: 48px;
}

#feature9 {
    font-size: 18px;
    margin-top: 24px;
}

.feature4orange {
    width: 95px;
    height: 97px;
    background-color: #F58A07;
    border-radius: 20px;
    mix-blend-mode: multiply;
    position: absolute;
    right: 0px;
    top: 240px;
}

.feature5 {
    width: 1324px;
    height: 550px;
    display: flex;
    gap: 80px;
    margin-top: 128px;
    position: relative;
}

.feature5image {
    width: 620px;
    height: 550px;
    border-radius: 20px;
    background-image: url("../images/feature5.png");
}

.feature5text {
    width: 584px;
    height: 294px;
    margin-top: 128px;
}

#feature10 {
    font-size: 48px;
    margin-bottom: 24px;
}

#feature11 {
    font-size: 18px;
    margin-bottom: 24px;
}

.feature5orange {
    width: 95px;
    height: 97px;
    border-radius: 20px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    position: absolute;
    left: -48.5px;
    top: 240px;
}

.video {
    max-width: 1280px;
    height: 501px;
    margin: auto;
    display: flex;
    margin-top: 166px;
    gap: 110px;
}

.videotext {
    width: 550px;
    height: 346px;

}

.videotext1 {
    margin-top: 78px;
    height: 112px;
    font-size: 48px;
}

.videotext2 {
    display: flex;
    gap: 40px;
    align-items: center;
}

#videotext1 {
    color: #063255;
    font-size: 24px;
}

#videotext2 {
    color: #F58A07;
    font-size: 18px;
}

#playlink {
    margin-left: 0px;
    margin-top: 427px;
    text-decoration: none;
    color: white;
    margin-bottom: 40px;
}

#playvideo {
    padding-left: 20px;
    padding-top: 20px;
}

.videoimage1 {
    margin-bottom: 53px;
}

.playvideo {
    width: 51px;
    height: 51px;
    border-radius: 20px;
    background-color: white;
    margin-left: 40px;
    margin-bottom: 40px;
}

.videoimage {
    background-image: url("../images/video-image.png");
    width: 620px;
    height: 501px;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
}

.latest {
    height: 819px;
    background-color: #DCEAF5;
    margin: auto;
    margin-top: 128px;


    display: flex;
    flex-direction: column;
}

.latesttext {
    min-width: 1280px;
    width: 453px;
    height: 56px;
    font-size: 32px;
    font-weight: 600;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 96px;

}

.latestimages {

    display: flex;
    gap: 40px;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 96px;
}

.latestimage1 {
    width: 400px;
    height: 507px;
    background-color: white;
    border-radius: 20px;
}

.latesttext1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin-top: 32px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;

}

.latesttext2 {
    padding-left: 32px;
    padding-right: 32px;
}

.latesttext3 {
    padding-left: 32px;
    padding-right: 32px;
    color: #F58A07;
    text-decoration: none;
}

.latestimage4 {
    border-radius: 20px 20px 0 0;
}

footer {
    height: 463px;
    background-color: #063255;
    position: relative;
    display: flex;
    flex-direction: column;
}

.container1 {

    max-width: 1280px;
    margin: auto;
}

.footer1 {
    display: flex;
    max-width: 1280px;

    min-width: 1280px;
    margin: auto;
    height: 200px;
}

.footerleft {}

.footertext1 {
    width: 351px;
    height: 88px;
    font-size: 36px;
    color: white;
    padding-bottom: 32px;

}

.footerimg {}

.social {
    width: 136px;
    height: 20px;
    display: flex;
    gap: 24px;
    margin-top: 32px;
}

.footercompany {
    color: white;
    width: 92px;
    height: 195px;
    margin: 0 auto;
}

.footerconnect {
    color: white;
    width: 142px;
    height: 117px;
    margin: 0 auto;
}

.footerjoin {
    color: white;
    width: 342px;
    height: 175px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.footerlink {

    background-color: #F58A07;
    color: white;
    text-decoration: none;
    border-radius: 31px;
    padding-left: 32px;
    padding-top: 17px;
    padding-right: 32px;
    padding-bottom: 18px;
    margin-top: 16px;
    width: 156px;
    height: 54px;
    font-size: 18px;
    font-weight: 600;
    border: solid #063255;
}

.footer2 {
    display: flex;
    min-width: 1280px;
    max-width: 1280px;
    height: 24px;
    margin: auto;
    justify-content: space-between;


    margin-top: 84px;
}

.footerbottom {
    display: flex;
    gap: 32px;
}

.footer3 {
    color: white;
}

#email {
    background-color: white;
    color: #9C9C9C;
    padding-top: 18px;
    padding-bottom: 17px;
    padding-left: 32px;
    border-radius: 31px;
    height: 24px;
    width: 342px;
    border: #063255;

}

.shapeleft {
    width: 53px;
    height: 144px;
    background-color: #F58A07;
    border-radius: 0 20px 0 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.shaperight {
    width: 53px;
    height: 287px;
    position: absolute;
    top: 38px;
    right: 0px;
    background-color: #F58A07;
    border-radius: 20px 0 0 20px;
}